<!-- section footer -->
<section class="footer">
    <div class="foot"> 
      <button class="ico"><mat-icon>add_comment</mat-icon></button>
      <button class="ico"><mat-icon>bubble_chart</mat-icon></button>
      <button class="ico"><mat-icon>wifi_lock</mat-icon></button>
      <button class="ico"><mat-icon>wifi_lock</mat-icon> </button>
      <button class="ico"> <mat-icon>wifi_lock</mat-icon></button>
     <mat-divider class="divider"></mat-divider>
    <p class="copyright">COPYRIGHT © 2020 SOFTY PINKO COMPANY - DESIGN: TEMPLATEMO</p>
    </div>
  </section>
  